<h1><%= @manager.id ? 'Edit league' : 'create league' %></h1>
<hr />
<%= form_for @manager do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <%= f.submit %>
<% end %>